*, *::before, *::after {
    box-sizing: border-box;
    
}

.border {
    border: 1px solid green;
}

.border-red {
    border: 1px solid red;
}

.border-yellow {
    border: 1px solid yellow;
}

.background {
    background-image: url(../images/background-head.png);
    max-height: 700px;

}

// Navigation

.navigation {
    border: 3px solid red;
    padding: 25px 0;

}

.menu {
    position: absolute;
    display: inline-block;
    border: 1px solid red;
    // margin: 25px 0;
    // padding: 25px 0;
    left: 50%;
    // width: 25%;

}
.name {
    position: absolute;
    border: 1px solid red;
    display: inline-block;
    // margin: 25px 0;
    // padding: 25px 0;

}
nav ul {
    
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}
nav li {
    display: inline-block;
}

// NCIE TO MEET YOU

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 160px 0;
    
}

.welcome {
    font-size: 32px;
    margin: 10px 0 25px 0;
    padding: 0;
}


.nice {
    font-size: 48px;
    margin: 0 0 30px 0;
    padding: 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 242px;
    height: 65px;
    background-color: yellow;
    margin: 30px 0 0 0;
}

// SERVICES

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services h1 {
    font-size: 29px;
    margin: 120px 0 10px 0;
}

.services p {
    font-size: 15px;
    margin: 10px 0 40px 0;
}

.services-items {
    margin: 40px 0 120px 0;
}

// .service {
//     width: 73px;
//     height: 73px;
// }

.service i {
    padding: 24px;
    font-size: 30px;
    color: yellow;
    border: 2px solid yellow;
    border-radius: 50%;
}

.service p {
    min-width: 87px;
}

.text-center {
    text-align: center;
}

// OUR PORTFOLIO

.our-portfolio {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.our-portfolio-head {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.our-portfolio-head h1 {
    margin: 120px 0 5px 0;
    padding: 0;
}

.our-portfolio p {
    margin: 5px 0 80px 0;
    padding: 0;
}

.portfolio-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 51px;
}

.card {
    width: 290px;
    height: 393px;
}

.image {
    height: 77%;
}

.image img {

}

.description {
    height: 23%;
    text-align: center;
}

.description h2 {
    margin-bottom: 5px;
}

// FOOTER

.footer-wrapper {
    position: relative;
    margin: 40px 0;
    height: 100%;
}

.icons {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.icons i {
    font-size: 40px;
}

.copywright {
    margin: 0;
}


